@import "tailwindcss";

@layer base {
  :root {
    --font-outfit: 'Outfit', sans-serif;
  }

  * {
    font-family: var(--font-outfit), sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

@keyframes infiniteSlideHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-infinite-slide-horizontal {
  animation: infiniteSlideHorizontal linear infinite;
}
